<div class="modal-header">
    <h3>{{title}}</h3>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <form [formGroup]="compositeDataForm" class="mb-0">
            <div class="row">
                <div class="col-md-7  col-sm-12">
                    <mat-form-field class="full-width-form-element">
                        <mat-label>Összetett eszköz neve</mat-label>
                        <input matInput type="text" autocomplete="off"
                               formControlName="name">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6  col-sm-12">
                    <mat-form-field class="full-width-form-element">
                        <mat-label>Tárolási hely</mat-label>
                        <input type="text" matInput
                               formControlName="location"
                               [matAutocomplete]="autoLocation">
                        <mat-autocomplete #autoLocation="matAutocomplete">
                            <mat-option *ngFor="let option of filteredLocationOptions"
                                        [value]="option.name">
                                {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7  col-sm-12">
                    <mat-form-field class="full-width-form-element">
                        <mat-label>Azonosító</mat-label>
                        <input matInput type="text" autocomplete="off"
                               formControlName="textIdentifier">
                    </mat-form-field>
                </div>

                <div class="col-md-5  col-sm-12">
                    <mat-form-field class="full-width-form-element">
                        <mat-label>Vonalkód tartalma</mat-label>
                        <input matInput type="text" autocomplete="off"
                               formControlName="barcode">
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="row ">
            <div class="col-md-12">
                <div class=" pull-right">
                    <mat-slide-toggle *ngIf="admin && compositeItem.id !== -1"
                                      class="pt-3"
                                      (change)="deleteConfirmed = $event.checked"
                                      color="warn">
                        <button mat-icon-button color="warn" type="button"
                                (click)="delete(compositeItem)"
                                [disabled]="!deleteConfirmed">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-slide-toggle>
                    <button mat-raised-button type="submit" class="btn btn-info pb-2" (click)="save()">
                        Mentés
                    </button>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="compositeItem.id !== -1">
            <h5 class="col-lg-7 col-md-12 pt-3">Tartalmazott eszközök</h5>
            <mat-form-field class="col-lg-5 col-md-12">
                <input matInput placeholder="Új hozzáadása"
                       autocomplete="off"
                       [formControl]="addDeviceFormControl"
                       (keyup.enter)="addDeviceToComposite()">
                <button mat-button mat-icon-button matSuffix type="button"
                        *ngIf="addDeviceFormControl.value"
                        (click)="addDeviceToComposite()">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="table-responsive" *ngIf="compositeItem.id !== -1">
            <table class="table">
                <thead class="text-orange">
                <th>
                    Eszköz neve
                </th>
                <th>
                    Típus
                </th>
                <th>
                    Törlés
                </th>
                </thead>
                <tbody *ngIf="compositeItem.devices !== null">
                <tr class="device-row" *ngFor="let device of compositeItem.devices">
                    <td>
                        {{device.name}}
                    </td>
                    <td>
                        {{device.maker}} {{device.type}}
                    </td>
                    <td class="pb-0 pt-0">
                        <button mat-raised-button type="button"
                                class="btn btn-info pull-center btn-just-icon"
                                data-toggle="modal" data-target=".edit-rental-dialog"
                                (click)="removeFromComposite(device)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
