<div class="modal-header">
    <h3>Eszköz hozzáadása</h3>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <h3 class="col-sm-12">{{device.name}}</h3>
        </div>
        <div class="row">
            <h5 class="col-sm-12">Tárolt mennyiség: {{device.quantity}} db</h5>
        </div>
        <form>
            <div class="row">
                <mat-form-field class="col-sm-12">
                    <mat-label>Bérelni kívánt mennyiség</mat-label>
                    <input matInput type="number" min="1" max="{{device.quantity}}" value="1"
                           [formControl]="amountFormControl">
                    <span matSuffix>db</span>
                </mat-form-field>
            </div>
            <div class="col-sm-12">
                <button class="pull-right mb-3" type="submit" mat-raised-button color="primary" (click)="finish()">
                    Hozzáadás
                </button>
            </div>
        </form>
    </div>
</div>
