.main-content {
    margin-top: 0 !important;
}

.comment-field {
    background: #11111111;
    border-radius: 5px;
}

.blockquote {
    font-size: 1rem;
}

.date-delete-row {
    font-size: 0.7rem;
}

.comment-deleter {
    cursor: pointer;
}

.comment-deleter:hover {
    text-decoration: underline;
}

.backbutton {
    z-index: 1050 !important;
}

.modal-holder {
    z-index: 2000 !important;
}

.full-width {
    width: 100%;
}

.device-row:hover {
    background: #f2f2f2 !important;
}
