.main-content {
    margin-top: 0px !important;
}

.backbutton {
    z-index: 1000 !important;
}

.modal-holder {
    z-index: 2000 !important;
}

.full-width {
    width: 100%;
}

.device-row:hover {
    background: #f2f2f2 !important;
}
