<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="card-title ">
                            <h4>Jelenleg aktív bérlések</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-orange">
                                <th>
                                    Kiadó
                                </th>
                                <th>
                                    Felelősségvállaló
                                </th>
                                <th>
                                    Kivitel célja
                                </th>
                                <th>
                                    Kivitel ideje
                                </th>
                                <th>
                                    Várható visszaérkezés
                                </th>
                                <th>
                                    Eszközök száma
                                </th>
                                <th>
                                    Össztömeg
                                </th>
                                <th>
                                    Módosítás
                                </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        Béla
                                    </td>
                                    <td>
                                        József
                                    </td>
                                    <td>
                                        Fontos közvetítés
                                    </td>
                                    <td>
                                        2020.09.15.
                                    </td>
                                    <td>
                                        2020.09.23.
                                    </td>
                                    <td>
                                        12
                                    </td>
                                    <td>
                                        102kg
                                    </td>
                                    <td>
                                        <button mat-raised-button type="submit"
                                                class="btn btn-info pull-center btn-just-icon"><i
                                                class="material-icons">create</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Béla
                                    </td>
                                    <td>
                                        József
                                    </td>
                                    <td>
                                        Fontos közvetítés
                                    </td>
                                    <td>
                                        2020.09.15.
                                    </td>
                                    <td>
                                        2020.09.23.
                                    </td>
                                    <td>
                                        12
                                    </td>
                                    <td>
                                        102kg
                                    </td>
                                    <td>
                                        <button mat-raised-button type="submit"
                                                class="btn btn-info pull-center btn-just-icon"><i
                                                class="material-icons">create</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="card-title ">
                            <h4>Bérlések összekészítés alatt</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-orange">
                                <th>
                                    Kiadó
                                </th>
                                <th>
                                    Felelősségvállaló
                                </th>
                                <th>
                                    Kivitel célja
                                </th>
                                <th>
                                    Kivitel ideje
                                </th>
                                <th>
                                    Várható visszaérkezés
                                </th>
                                <th>
                                    Eszközök száma
                                </th>
                                <th>
                                    Össztömeg
                                </th>
                                <th>
                                    Módosítás
                                </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        Béla
                                    </td>
                                    <td>
                                        József
                                    </td>
                                    <td>
                                        Fontos közvetítés
                                    </td>
                                    <td>
                                        2020.09.15.
                                    </td>
                                    <td>
                                        2020.09.23.
                                    </td>
                                    <td>
                                        12
                                    </td>
                                    <td>
                                        102kg
                                    </td>
                                    <td>
                                        <button mat-raised-button type="submit"
                                                class="btn btn-info pull-center btn-just-icon"><i
                                                class="material-icons">create</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Béla
                                    </td>
                                    <td>
                                        József
                                    </td>
                                    <td>
                                        Fontos közvetítés
                                    </td>
                                    <td>
                                        2020.09.15.
                                    </td>
                                    <td>
                                        2020.09.23.
                                    </td>
                                    <td>
                                        12
                                    </td>
                                    <td>
                                        102kg
                                    </td>
                                    <td>
                                        <button mat-raised-button type="submit"
                                                class="btn btn-info pull-center btn-just-icon"><i
                                                class="material-icons">create</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
