<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-12">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">sd_storage</i>
                        </div>
                        <p class="card-category">Eszköz keresése vonalkód alapján</p>
                    </div>
                    <div class="card-body">
                        <mat-form-field class="deviceSearchField">
                            <mat-label>Eszköz vonalkódja</mat-label>
                            <input matInput autofocus type="text"
                                   autocomplete="off"
                                   [formControl]="deviceSearchFormControl"
                                   (keyup.enter)="searchScannable()">
                            <button mat-button *ngIf="deviceSearchFormControl.value" matSuffix mat-icon-button
                                    aria-label="Search"
                                    (click)="searchScannable()">
                                <i class="material-icons">search</i>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">sd_storage</i>
                        </div>
                        <p class="card-category">Összes eszköz a rendszerben</p>
                        <h3 class="card-title">{{scannableAmount}}
                            <small>db</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_paste</i>
                        </div>
                        <p class="card-category">Aktív bérlések</p>
                        <h3 class="card-title">{{activeRents().length}}
                            <small>db</small>
                        </h3>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="card-title ">
                            <h4>Jelenleg aktív bérlések</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-orange">
                                <th>
                                    Kiadó
                                </th>
                                <th>
                                    Felelősségvállaló
                                </th>
                                <th>
                                    Kivitel célja
                                </th>
                                <th>
                                    Kivitel ideje
                                </th>
                                <th>
                                    Várható visszaérkezés
                                </th>
                                <th>
                                    Eszközök száma
                                </th>
                                <th>
                                    Össztömeg
                                </th>
                                <th>
                                    Módosítás
                                </th>
                                </thead>
                                <tbody>
                                <tr class="rent-row" *ngFor="let rent of activeRents()" (click)="openRent(rent.id)">
                                    <td>
                                        {{rent.issuer}}
                                    </td>
                                    <td>
                                        {{rent.renter}}
                                    </td>
                                    <td>
                                        {{rent.destination}}
                                    </td>
                                    <td>
                                        {{rent.outDate}}
                                    </td>
                                    <td>
                                        {{rent.expBackDate}}
                                    </td>
                                    <td>
                                        {{rent.rentItems.length}}
                                    </td>
                                    <td>
                                        {{rent.getSumWeight() / 1000}} kg
                                    </td>
                                    <td class="pb-0 pt-0">
                                        <button mat-button mat-raised-button type="button"
                                                class="btn btn-info pull-center btn-just-icon"
                                                [routerLink]="['/rent', rent.id]">
                                            <mat-icon>create</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
