<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">sd_storage</i>
                        </div>
                        <p class="card-category">Összes eszköz a rendszerben</p>
                        <h3 class="card-title">120
                            <small>db</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <!--<div class="stats">
                            Rend a lelke mindennek!
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_paste</i>
                        </div>
                        <p class="card-category">Aktív bérlések</p>
                        <h3 class="card-title">2
                            <small>db</small>
                        </h3>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="card-title ">
                            <h4>Jelenleg aktív bérlések</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-orange">
                                <th>
                                    Kiadó
                                </th>
                                <th>
                                    Felelősségvállaló
                                </th>
                                <th>
                                    Kivitel célja
                                </th>
                                <th>
                                    Kivitel ideje
                                </th>
                                <th>
                                    Várható visszaérkezés
                                </th>
                                <th>
                                    Eszközök száma
                                </th>
                                <th>
                                    Össztömeg
                                </th>
                                <th>
                                    Módosítás
                                </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        Béla
                                    </td>
                                    <td>
                                        József
                                    </td>
                                    <td>
                                        Fontos közvetítés
                                    </td>
                                    <td>
                                        2020.09.15.
                                    </td>
                                    <td>
                                        2020.09.23.
                                    </td>
                                    <td>
                                        12
                                    </td>
                                    <td>
                                        102kg
                                    </td>
                                    <td>
                                        <button mat-raised-button type="submit"
                                                class="btn btn-info pull-center btn-just-icon"><i
                                                class="material-icons">create</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Béla
                                    </td>
                                    <td>
                                        József
                                    </td>
                                    <td>
                                        Fontos közvetítés
                                    </td>
                                    <td>
                                        2020.09.15.
                                    </td>
                                    <td>
                                        2020.09.23.
                                    </td>
                                    <td>
                                        12
                                    </td>
                                    <td>
                                        102kg
                                    </td>
                                    <td>
                                        <button mat-raised-button type="submit"
                                                class="btn btn-info pull-center btn-just-icon"><i
                                                class="material-icons">create</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="card-title ">
                            <h4>Bérlések összekészítés alatt</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-orange">
                                <th>
                                    Kiadó
                                </th>
                                <th>
                                    Felelősségvállaló
                                </th>
                                <th>
                                    Kivitel célja
                                </th>
                                <th>
                                    Kivitel ideje
                                </th>
                                <th>
                                    Várható visszaérkezés
                                </th>
                                <th>
                                    Eszközök száma
                                </th>
                                <th>
                                    Össztömeg
                                </th>
                                <th>
                                    Módosítás
                                </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        Béla
                                    </td>
                                    <td>
                                        József
                                    </td>
                                    <td>
                                        Fontos közvetítés
                                    </td>
                                    <td>
                                        2020.09.15.
                                    </td>
                                    <td>
                                        2020.09.23.
                                    </td>
                                    <td>
                                        12
                                    </td>
                                    <td>
                                        102kg
                                    </td>
                                    <td>
                                        <button mat-raised-button type="submit"
                                                class="btn btn-info pull-center btn-just-icon"><i
                                                class="material-icons">create</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Béla
                                    </td>
                                    <td>
                                        József
                                    </td>
                                    <td>
                                        Fontos közvetítés
                                    </td>
                                    <td>
                                        2020.09.15.
                                    </td>
                                    <td>
                                        2020.09.23.
                                    </td>
                                    <td>
                                        12
                                    </td>
                                    <td>
                                        102kg
                                    </td>
                                    <td>
                                        <button mat-raised-button type="submit"
                                                class="btn btn-info pull-center btn-just-icon"><i
                                                class="material-icons">create</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
