<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="card-title ">
                            <h4 style="display: inline-block; padding-top: 12px">Bérlések</h4>
                            <form class="navbar-form pull-right">
                                <span class="bmd-form-group">
                                    <div class="input-group no-border">
                                        <input type="text" value="" class="form-control text-white" placeholder="Keresés...">
                                        <button mat-raised-button type="submit" class="btn btn-warning btn-just-icon">
                                            <i class="material-icons">search</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                        <button mat-raised-button type="submit" class="btn btn-warning btn-just-icon">
                                            <i class="material-icons">filter_alt</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                        <button mat-raised-button type="submit" class="btn btn-warning btn-just-icon">
                                            <i class="material-icons">add</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>
                                </span>
                            </form>
                        </div>
                        <!--<p class="card-category"> Here is a subtitle for this table</p>-->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-orange">
                                <th>
                                    Kiadó
                                </th>
                                <th>
                                    Felelősségvállaló
                                </th>
                                <th>
                                    Kivitel célja
                                </th>
                                <th>
                                    Kivitel ideje
                                </th>
                                <th>
                                    Várható visszaérkezés
                                </th>
                                <th>
                                    Eszközök száma
                                </th>
                                <th>
                                    Össztömeg
                                </th>
                                <th>
                                    Szerkesztés
                                </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        Béla
                                    </td>
                                    <td>
                                        József
                                    </td>
                                    <td>
                                        Fontos közvetítés
                                    </td>
                                    <td>
                                        2020.09.15.
                                    </td>
                                    <td>
                                        2020.09.25.
                                    </td>
                                    <td>
                                        12
                                    </td>
                                    <td>
                                        245 kg
                                    </td>
                                    <td>
                                        <button mat-raised-button type="submit"
                                                class="btn btn-info pull-center btn-just-icon"><i
                                                class="material-icons">create</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
