<h2 class="title logo" style="padding-left: 32px; background: white">Raktr</h2>

<div class="sidebar-wrapper" style="background: white">
    <div *ngIf="isMobileMenu()">
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]" *ngIf="menuItem.inMenuBar">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="logout()" style="cursor: pointer">
                <i class="material-icons">login</i>
                <p>Kijelentkezés</p>
            </a>
        </li>
    </ul>
</div>
