<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="card-title ">
                            <div class="nav-tabs-navigation list-title mt-1">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item active">
                                            <a href="#devices" class="nav-link active" data-toggle="tab"
                                               (click)="setTab('devices')">
                                                <h4 class="mb-0">Eszközök</h4>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#composites" class="nav-link" data-toggle="tab"
                                               (click)="setTab('composites')">
                                                <h4 class="mb-0">Összetett eszközök</h4>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pull-right form-inline">
                                <mat-form-field class="deviceSearchField">
                                    <mat-label>Keresés...</mat-label>
                                    <input matInput class="searchInput" type="text" [formControl]="searchControl"
                                           autocomplete="off">
                                    <button mat-button matSuffix mat-icon-button
                                            *ngIf="searchControl.value !== ''" aria-label="search">
                                        <mat-icon (click)="searchControl.setValue('')">clear</mat-icon>
                                    </button>
                                </mat-form-field>
                                <button class="ml-1" mat-button mat-icon-button aria-label="Filter">
                                    <mat-icon>filter_alt</mat-icon>
                                </button>
                                <button class="ml-1 addButton" color="warn" mat-mini-fab aria-label="Add"
                                        (click)="create()">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="devices">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="text-orange">
                                        <th>
                                            Név
                                        </th>
                                        <th>
                                            Gyártó
                                        </th>
                                        <th>
                                            Típus
                                        </th>
                                        <th>
                                            Mennyiség
                                        </th>
                                        <th>
                                            Kategória
                                        </th>
                                        <th>
                                            Tárolási hely
                                        </th>
                                        <th>
                                            Tömeg
                                        </th>
                                        <th>
                                            Vonalkód
                                        </th>
                                        <th>
                                            Másolás
                                        </th>
                                        <th>
                                            Szerkesztés
                                        </th>
                                        </thead>
                                        <tbody>
                                        <tr class="device-row" *ngFor="let device of filteredDevices | async">
                                            <td>
                                                {{device.name}}
                                            </td>
                                            <td>
                                                {{device.maker}}
                                            </td>
                                            <td>
                                                {{device.type}}
                                            </td>
                                            <td>
                                                {{device.quantity}}
                                            </td>
                                            <td>
                                                {{device.category.name}}
                                            </td>
                                            <td>
                                                {{device.location.name}}
                                            </td>
                                            <td>
                                                {{device.weight / 1000}} kg
                                            </td>
                                            <td>
                                                {{device.barcode}}
                                            </td>
                                            <td class="pb-0 pt-0">
                                                <button mat-raised-button type="button"
                                                        class="btn btn-info pull-center btn-just-icon"><i
                                                        class="material-icons pb-0 pt-0"
                                                        (click)="copyDevice(device)">content_copy</i>
                                                </button>
                                            </td>
                                            <td class="pb-0 pt-0">
                                                <button mat-raised-button type="button"
                                                        class="btn btn-info pull-center btn-just-icon pb-0 pt-0">
                                                    <i class="material-icons" (click)="editDevice(device)">create</i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="composites">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="text-orange">
                                        <th>
                                            Név
                                        </th>
                                        <th>
                                            Tartalmazott eszközök száma
                                        </th>
                                        <th>
                                            Tömeg
                                        </th>
                                        <th>
                                            Tárolási hely
                                        </th>
                                        <th>
                                            Vonalkód
                                        </th>
                                        <th>
                                            Szerkesztés
                                        </th>
                                        </thead>
                                        <tbody>
                                        <tr class="device-row"
                                            *ngFor="let compositeItem of filteredCompositeItems | async">
                                            <td>
                                                {{compositeItem.name}}
                                            </td>
                                            <td>
                                                {{compositeItem.devices.length}}
                                            </td>
                                            <td>
                                                {{compositeItem.getWeight() / 1000}} kg
                                            </td>
                                            <td>
                                                {{compositeItem.location.name}}
                                            </td>
                                            <td>
                                                {{compositeItem.barcode}}
                                            </td>
                                            <td class="pb-0 pt-0">
                                                <button mat-raised-button type="button"
                                                        class="btn btn-info pull-center btn-just-icon"
                                                        (click)="editCompositeItem(compositeItem)">
                                                    <mat-icon>create</mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
