<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="card-title ">
                            <h4 style="display: inline-block; padding-top: 12px">Eszközök</h4>
                            <form class="navbar-form pull-right">
                                <span class="bmd-form-group">
                                    <div class="input-group no-border">
                                        <input type="text" value="" class="form-control text-white"
                                               placeholder="Keresés..." [formControl]="deviceSearchControl">
                                        <button mat-raised-button type="submit" class="btn btn-warning btn-just-icon">
                                            <i class="material-icons">search</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                        <button mat-raised-button type="submit" class="btn btn-warning btn-just-icon">
                                            <i class="material-icons">filter_alt</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                        <button mat-raised-button type="submit" class="btn btn-warning btn-just-icon">
                                            <i class="material-icons">add</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>
                                </span>
                            </form>
                        </div>
                        <!--<p class="card-category"> Here is a subtitle for this table</p>-->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-orange">
                                <th>
                                    Név
                                </th>
                                <th>
                                    Vonalkód
                                </th>
                                <th>
                                    Gyártó
                                </th>
                                <th>
                                    Típus
                                </th>
                                <th>
                                    Mennyiség
                                </th>
                                <th>
                                    Kategória
                                </th>
                                <th>
                                    Tárolási hely
                                </th>
                                <th>
                                    Tömeg
                                </th>
                                <th>
                                    Másolás
                                </th>
                                <th>
                                    Szerkesztés
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let device of filteredDevices | async">
                                    <td>
                                        {{device.name}}
                                    </td>
                                    <td>
                                        {{device.barcode}}
                                    </td>
                                    <td>
                                        {{device.maker}}
                                    </td>
                                    <td>
                                        {{device.type}}
                                    </td>
                                    <td>
                                        {{device.quantity}}
                                    </td>
                                    <td>
                                        {{device.category.name}}
                                    </td>
                                    <td>
                                        {{device.location.name}}
                                    </td>
                                    <td>
                                        {{device.weight / 1000}} kg
                                    </td>
                                    <td>
                                        <button mat-raised-button type="button"
                                                class="btn btn-info pull-center btn-just-icon"><i
                                                class="material-icons" (click)="createCopy(device)">content_copy</i>
                                        </button>
                                    </td>
                                    <td>
                                        <button mat-raised-button type="button"
                                                class="btn btn-info pull-center btn-just-icon"
                                                data-toggle="modal" data-target=".edit-device-dialog">
                                            <i class="material-icons" (click)="edit(device)">create</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="card-title ">
                            <h4 style="display: inline-block; padding-top: 12px">Összetett eszközök</h4>
                            <form class="navbar-form pull-right">
                                <span class="bmd-form-group">
                                    <div class="input-group no-border">
                                        <input type="text" value="" class="form-control text-white"
                                               placeholder="Keresés..." [formControl]="compositeItemSearchControl">
                                        <button mat-raised-button type="submit" class="btn btn-warning btn-just-icon">
                                            <i class="material-icons">search</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                        <button mat-raised-button type="submit" class="btn btn-warning btn-just-icon">
                                            <i class="material-icons">filter_alt</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                        <button mat-raised-button type="submit" class="btn btn-warning btn-just-icon">
                                            <i class="material-icons">add</i>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>
                                </span>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-orange">
                                <th>
                                    Név
                                </th>
                                <th>
                                    Vonalkód
                                </th>
                                <th>
                                    Tartalmazott eszközök száma
                                </th>
                                <th>
                                    Tömeg
                                </th>
                                <th>
                                    Tárolási hely
                                </th>
                                <th>
                                    Szerkesztés
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let compositeItem of filteredCompositeItems | async">
                                    <td>
                                        {{compositeItem.name}}
                                    </td>
                                    <td>
                                        {{compositeItem.barcode}}
                                    </td>
                                    <td>
                                        {{compositeItem.devices.length}}
                                    </td>
                                    <td>
                                        {{compositeItem.getWeight() / 1000}} kg
                                    </td>
                                    <td>
                                        {{compositeItem.location.name}}
                                    </td>
                                    <td>
                                        <button mat-raised-button type="button"
                                                class="btn btn-info pull-center btn-just-icon"><i
                                                class="material-icons">create</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade edit-device-dialog" tabindex="-1" role="dialog" aria-labelledby="editDeviceDialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid">
                <h3>Eszköz szerkesztése</h3>
                <form>
                    <div class="row">
                        <div class="col-md-7  col-sm-12">
                            <mat-form-field class="example-full-width">
                                <div class="input-group">
                                    <input matInput placeholder="Eszköz neve" type="text" required>
                                    <div class="invalid-feedback">
                                        Kérlek add meg az eszköz nevét!
                                    </div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5  col-sm-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Gyártó">
                            </mat-form-field>
                        </div>
                        <div class="col-md-7  col-sm-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Típus">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-12">
                            <mat-form-field class="example-full-width">
                                <input type="text"
                                       matInput
                                       [formControl]="categoryControl"
                                       [matAutocomplete]="autoCategory"
                                       placeholder="Kategória" required>
                                <mat-autocomplete #autoCategory="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredCategoryOptions | async" [value]="option.name">
                                        {{option.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6  col-sm-12">
                            <mat-form-field class="example-full-width">
                                <input type="text"
                                       matInput
                                       [formControl]="locationControl"
                                       [matAutocomplete]="autoLocation"
                                       placeholder="Tárolási hely" required>
                                <mat-autocomplete #autoLocation="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredLocationOptions | async" [value]="option.name">
                                        {{option.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5  col-sm-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Vonalkód tartalma" type="text" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-sm-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Tömeg (gramm)" type="number" min="1">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6  col-sm-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Érték (Ft)" type="number" min="1">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5  col-sm-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Birtokolt mennyiség azonos vonalkód alatt"
                                       type="number" min="1" [defaultValue]="1" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-raised-button type="submit" class="btn btn-info pull-right" data-dismiss="modal">
                        Mentés
                    </button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
